.home {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  width: 100%;
  min-height: 100vh;
  z-index: 1;

  .home-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    &:before {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 0;
      height: 20px;
      z-index: 0;
      width: 100%;
      background: linear-gradient(
        to top,
        rgba(0, 35, 44, 0.99) 10%,
        rgba(0, 35, 44, 0.5) 50%,
        rgba(0, 35, 44, 0) 100%
      );
    }

    &:after {
      content: "";
      position: absolute;
      bottom: -39.7px;
      left: 0;
      height: 40px;
      z-index: 0;
      width: 100%;
      background: linear-gradient(
        to bottom,
        rgba(0, 65, 87, 0.99) 10%,
        rgba(0, 65, 87, 0.5) 70%,
        rgba(0, 65, 87, 0) 100%
      );
    }

    .home-background_photo {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
    }
  }

  .home__subtitle {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
  }

  .home__title {
    margin: 0px 0px 24px;
    font-size: 48px;
    font-weight: 400;
    line-height: 60px;
  }

  .home__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 160px;
    width: 100%;

    .home__list_item {
      width: 30px;
      height: 30px;

      .home__list_item-link {
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
        transition: all 0.4s ease;

        &:hover {
          transform: scale(1.2);
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}
