.about {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);

  .about__block {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1320px;
    width: 100%;
    min-height: 100vh;

    @media (max-width: 1024px) {
      flex-direction: column;
      padding: 0px 5px;
    }

    .about__block_images {
      position: relative;
      display: flex;
      justify-content: space-between;
      margin: 0px 50px 0px 0px;
      max-width: 410px;
      width: 100%;
      height: 360px;

      @media (max-width: 1024px) {
        margin: 50px 0px 30px;
        height: 320px;
      }

      .image__item-one,
      .image__item-two {
        display: flex;
        justify-content: center;
        align-items: start;
        max-width: 200px;
        width: 100%;

        .image__item-one_photo,
        .image__item-two_photo {
          display: block;
          width: 200px;
          height: 325px;
          border-radius: 10px;

          @media (max-width: 480px) {
            width: 180px;
            height: 275px;
          }
        }
      }

      .image__item-one {
        align-items: end;
      }
    }

    .about__block_content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      max-width: 410px;
      width: 100%;

      @media (max-width: 1024px) {
        align-items: center;
        text-align: center;
      }

      .content__title {
        margin: 0px 0px 20px;
        font-size: 32px;
        font-weight: 500;
        line-height: 40px;
      }

      .content__description {
        margin: 0px 0px 30px;
        font-size: 15px;
        line-height: 18px;
      }
    }
  }
}
